<tr>
  <td>[<%= notification.read ? '既読' : '未読' %>]</td>
  <td><%= link_to "#{notification.type}申請", admin_notification_path(notification.id), method: :put %></td>
  <td><%= notification.employee.name %>さんから<%= notification.type %>が申請されました。</td>
</tr>
