<p>[<%= notification.read ? '既読' : '未読' %>]</p>
<p><%= link_to "#{type}の申請を承認(却下)してください", admin_notification_path(notification.id), method: :put %></p>
<p><%= notification.employee.name %>さんから<%= type %>が申請されましたが、承認(却下)されておりません。承認(却下)してください。</p>
