<tr>
  <td>[<%= notification.read ? '既読' : '未読' %>]</td>
  <td><%= link_to "シフト未申請", admin_notification_path(notification.id), method: :put %></td>
  <td><%= notification.employee.name%>さんがシフト申請をしておりません。</td>
</tr>
