<% provide(:title, "shift_show") %>
<div class="top">
  <h2>シフト詳細</h2>
  <% if @shift == nil %>
    <p>該当するシフトは存在しません</p>
  <% else %>
    <%= render "shared/shifts" %>
    <% if admin_signed_in? %>
      <% if @shift.status == "approved" || @shift.status == "rejected" %>
        <%= link_to "未承認に戻す", admins_shift_path(shift: {status: "unapproved"}), method: :put, class: "btn btn-primary" %>
      <% elsif @shift.status == "unapproved" %>
        <%= link_to "承認", admins_shift_path(shift: {status: "approved"}), method: :put, class: "btn btn-primary" %>
        <%= link_to "却下", admins_shift_path(shift: {status: "rejected"}), method: :put, data: {confirm: "欠勤申請を却下してよろしいですか？"}, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
