<div>
  <p>[従業員名]<br><%= @absence.shift.employee.name %></p>
  <p>[開始時間]<br><%= @absence.shift.start_time %></p>
  <p>[終了時間]<br><%= @absence.shift.end_time %></p>
  <p>[ステータス]<br><%= @absence.status %></p>
</div>
