<% provide(:title, "マイページ") %>
<h2 class="title">マイページ</h2>
<div class="text-center">
  <% if @employee.blank? %>
    <p>該当するアカウントは存在しません</p>
  <% else %>
    <%= render "shared/employee", employee: @employee %>
    <%= link_to "編集", edit_employee_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>
