<% provide(:title, "管理者一覧") %>
<h2 class="title">管理者一覧</h2>
<div class="text-center">
  <table class="table text-center">
    <thead>
      <tr>
        <th>管理者名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to admin.name, admin_admin_path(admin.id) %></td>
          <td><%= admin.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admins %>
</div>
