<% provide(:title, "Admins_Index") %>
<div class="top">
  <h2>管理者一覧</h2>
  <% @admins.each do |admin| %>
    <p><%= link_to admin.name, admin_admin_path(admin.id) %></p>
    <p><%= admin.email %></p>
  <% end %>
  <%= paginate @admins %>
</div>
