<% provide(:title, "管理者詳細") %>
<h2 class="title">管理者詳細</h2>
<div class="text-center">
  <% if @admin.blank? %>
    <p>該当する管理者は存在しません</p>
  <% else %>
    <div class="row pb-5">
      <div class="container py-3"></div>
      <div class="d-flex col-8 mx-auto">
        <div class="col-6 text-center">管理者名</div>
        <div class="col-6 text-start"><%= @admin.name %></div>
      </div>
      <div class="container py-3"></div>
      <div class="d-flex col-8 mx-auto">
        <div class="col-6 text-center">メールアドレス</div>
        <div class="col-6 text-start"><%= @admin.email %></div>
      </div>
    </div>
    <% if current_admin == @admin %>
      <div class="d-flex justify-content-center col-8 mx-auto text-center">
        <div class="col-3">
          <%= link_to "編集", edit_admin_registration_path, class: "btn btn-primary" %>
        </div>
        <div class="col-4">
          <%= link_to "取消", admin_registration_path, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: "btn btn-primary" %>
        </div>
    <% end %>
  <% end %>
</div>
