<% provide(:title, "シフト詳細") %>
<h2 class="title">シフト詳細</h2>
<div class="text-center">
  <% if @shift.blank? %>
    <p>該当するシフトは存在しません</p>
  <% else %>
    <%= render "shared/shift", shift: @shift %>
    <% if @shift.status == "unapproved" %>
      <div class="d-flex justify-content-center col-8 mx-auto text-center">
        <div class="col-3">
          <%= link_to "承認", admin_shift_path(shift: {status: "approved"}), method: :put, class: "btn btn-primary" %>
        </div>
        <div class="col-4">
          <%= link_to "却下", admin_shift_path(shift: {status: "rejected"}), method: :put, data: {confirm: "欠勤申請を却下してよろしいですか？"}, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
