<% provide(:title, "shift_show") %>
<div class="top">
  <h2>シフト詳細</h2>
  <% if @shift == nil %>
    <p>該当するシフトは存在しません</p>
  <% else %>
    <%= render "shared/shift" %>
    <% if current_employee.id == @shift.employee_id && @shift.status == "unapproved" %>
      <%= link_to "編集", edit_employee_shift_path, class: "btn btn-primary" %>
      <%= link_to "取消", employee_shift_path, method: :delete, data: {confirm: "シフトを削除してよろしいですか？"}, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
