<% provide(:title, "absence_show") %>
<div class="top">
  <h2>欠勤詳細</h2>
  <% if @absence.blank? %>
    <p>該当する欠勤は存在しません</p>
  <% else %>
    <%= render "shared/absence", absence: @absence %>
    <% if @absence.status == "unapproved" # TODO:status変更時に通知作成 %>
      <%= link_to "承認", admin_absence_path(absence: {status: "approved"}), method: :put, class: "btn btn-primary" %>
      <%= link_to "却下", admin_absence_path(absence: {status: "rejected"}), method: :put, data: {confirm: "欠勤申請を却下してよろしいですか？"}, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
