<p>[<%= notification.read ? '既読' : '未読' %>]</p>
<p><%= link_to link_to "#{notification.type}承認", employee_notification_path(notification.id), method: :put %></p>
<p><%= notification.type %>が承認されました。</p>
