<tr>
  <td>[<%= notification.read ? '既読' : '未読' %>]</td>
  <td><%= link_to "#{notification.type}却下", employee_notification_path(notification.id), method: :put %></td>
  <td><%= notification.type %>が却下されました。(<%= notification.shift_time %>)</td>
</tr>
